<div>
	<nav class="navbar navbar-expand-lg fw-dark bg-white">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<img src="logo.png" alt="logo" style="width: 150px;">
					</li>
					<li class="nav-item">
						<a href="/dashboard" class="btn btn-outline-white fw-blue">Home</a>
					</li>
					<li class="nav-item">
						<a href="/student" class="btn btn-outline-white">Add Enquiry</a>
					</li>
					<li class="nav-item">
						<a href="/allEnq" class="btn btn-outline-white">View Enquires</a>
					</li>
					<li class="nav-item">
						<a href="/logout" class="btn btn-danger" style="margin-left: 680px;">LOGOUT</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>